body {
  padding-top: 70px;
}

.has-error .explain-error {
    background-color: #b94a48;
    padding: 6px;
    border-radius: 4px;
    color: white;
    font-size: 0.8em;
}

.criteria-values-value {
    display: inline-block;
    border: 1px grey solid;
    background-color: white;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
}

.criteria-values-selected {
    background-color: #2d6987 !important;
    color: white !important;
}

.criteria-value-bool {
    color: blue;
}
.criteria-value-number {
    color: #5BB95B;
}

.size-input {
	border: 1px solid grey;
	width: 60px;
}


body .ui-state-focus{
	background : none !important;
	color: black !important;
	border: none !important;
}
